<h1>Showing selected Articles</h1>

<p>
  Title: <%= @articles.title %>
</p>
<p>
  Description: <%= @articles.description %>
</p>
<button><%= link_to "Back to Articles Listing", articles_path %></button>
<button><%= link_to "Edit this article", edit_article_path(@articles) %></button>